<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>라즈베리파이 with 노드JS</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
	<div class="section">
		<h2 class="notification is-primary">
		PIR 센서 감지 현황
		</h2>
		<div class="content">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Type</th>
					<th>Date Time</th>
				</tr>
			</thead>
			<tbody>
				{{#list}}<tr>
					<th>{{UID}}</th>
					<td class="is-uppercase">{{TYPE}}</td>
					<td>{{CREATED_AT}}</td>
				</tr>{{/list}}
			</tbody>
		</table>
		</div>
	</div>
</body>
</html>